{% extends 'base.html' %}

{% block header %}
    <script language="javascript">
        function checkForm(form){
            for(i=0;i<form.length;i++){
                if(form.elements[i].value==""){
                    alert("请将信息添写完整!");
                    form.elements[i].focus();
                    return false;
                }
            }
        }
    </script>
    <script type="text/javascript">
        function display_alert()
          {
          alert("congratulate!!,注册成功")
          }
    </script>

{% endblock header %}

{% block table %}


<table width="778"  border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td valign="top" bgcolor="#FFFFFF"><table width="99%" height="510"  border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="tableBorder_gray">
  <tr>
    <td height="510" valign="top" style="padding:5px;"><table width="98%" height="487"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td height="22" valign="top" class="word_orange">当前位置：管理员信息注册 &gt;&gt;&gt;</td>
      </tr>
      <tr>
        <td align="center" valign="top">
 <table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="84%">&nbsp;      </td>
</tr>
</table>  <form name="form1" method="post" action="/register/">
            {% csrf_token %}



  <table width="58%"  border="0" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bordercolordark="#D2E3E6" bordercolorlight="#FFFFFF">
  <tr align="center">
    <td width="20%" align="left" style="padding:5px;">管理员账号：</td>
    <td width="80%" align="left">
      <input name="adminname" type="text" id="adminname" value="" placeholder="宙斯" size="30">

    </td>
    <tr>
      <td align="left" style="padding:5px;">密码：</td>
      <td align="left"><input name="password" type="text" id="password" size="30" value="" placeholder="a123****"></td>
    </tr>
    <tr>
      <td align="left" style="padding:5px;">权限设置：</td>
      <td align="left"><select name="power">
          <option value="1">超级管理员</option>
          <option value="2">普通管理员</option>
      </select></td>
    </tr>
    <tr>
      <td align="left" style="padding:5px;">联系电话：</td>
      <td align="left"><input name="tel" type="text" id="tel" size="30" value=""></td>
    </tr>
    <tr>
      <td height="65" align="left" style="padding:5px;">&nbsp;</td>
      <td><input name="Submit" type="submit" class="btn_grey" value="保存" onClick="return checkForm(form1)">
        &nbsp;
        <input name="Submit2" type="reset" class="btn_grey" value="取消"></td>
    </tr>
</table>
</form><td>
      </tr>
    </table>
</td>
  </tr>
</table>
    </table>
{% endblock table %}